* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ol, ul {
  padding-left: 0;
}

ul, nav {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

section {
  margin-top: 58px;
}

@media (max-width: 576px) {
  .btn {
    margin-bottom: 20px;
  }
}

.sky-btn {
  background: #34ccff;
  color: #ffffff;
  border-radius: 100px;
  padding: 15px 51px;
  font-size: 14px;
}

@media (max-width: 576px) {
  .sky-btn {
    padding: 5px 20px;
  }
}

.white-btn {
  background: #ffffff;
  color: #364967;
  border-radius: 100px;
  padding: 15px 54px;
  font-size: 14px;
}

@media (max-width: 576px) {
  .white-btn {
    padding: 5px 30px;
  }
}

.p-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #364967;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #68778e;
}

.bg-light {
  background-color: #F5F8F9;
}

@media (min-width: 1200px) and (max-width: 1900px) {
  .bg-light {
    padding: 100px 250px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .bg-light {
    padding: 30px 0;
  }
}

.small-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #f02830;
}

.bg-white {
  background-color: #ffffff;
}

.card {
  border: none;
}

.header {
  padding: 15px 0;
}

@media (max-width: 576px) {
  .header {
    display: none;
  }
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .container .header-contact span {
  font-weight: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  color: #8294a9;
  margin-right: 35px;
}

.header .container .header-contact span img {
  margin-right: 10px;
}

.header .header-socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .header-socialIcons i {
  margin-left: 5px;
  background: #34ccff;
  color: #ffffff;
  border-radius: 50px;
  width: 29px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar {
  padding: 25px 0;
}

.navbar .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: center;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #4b4f5f;
  margin-left: 30px;
  padding-right: 0;
}

.main {
  background-image: url(/images/home/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .container {
  padding-top: 228px;
  padding-bottom: 249px;
}

@media (max-width: 576px) {
  .main .container {
    padding-top: 85px;
    padding-bottom: 67px;
  }
}

.main .container .main-article {
  width: 53%;
}

@media (min-width: 576px) and (max-width: 768px) {
  .main .container .main-article {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .main .container .main-article {
    width: 100%;
  }
}

.main .container .main-article h2 {
  font-weight: bold;
  font-size: 40px;
  line-height: 126%;
  color: #ffffff;
  margin-bottom: 15px;
}

@media (max-width: 576px) {
  .main .container .main-article h2 {
    font-size: 21px;
  }
}

.main .container .main-article-p {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.92);
  margin-bottom: 61px;
}

@media (max-width: 576px) {
  .main .container .main-article-p {
    font-size: 13px;
    margin-bottom: 20px;
  }
}

.about-us-img img {
  max-width: 100%;
  width: 593px;
  height: 558px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .about-us-img img {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .about-us-img img {
    height: 100%;
  }
}

.about-us-content {
  padding-top: 3%;
  padding-left: 75px;
}

.about-us-content .subtitle {
  max-width: 431px;
  margin-bottom: 31px;
}

.about-us-content .lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us-content .lists span {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  color: #68778e;
}

.about-us-content .author .name {
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  color: #5A6980;
  margin-top: 20px;
  margin-bottom: 0;
}

.about-us-content .author .subname {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #8996AB;
}

.about-us-cubics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 992px) {
  .about-us-cubics {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .about-us-cubics {
    display: none;
  }
}

@media (max-width: 576px) {
  .about-us-cubics {
    display: none;
  }
}

.about-us-cubics .img1 {
  width: 69px;
  margin: 40px 0 56px 0;
}

.about-us-cubics .img2 {
  width: 118px;
}

.offers .boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.offers .boxes .box {
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
          box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
  -ms-flex-preferred-size: 300px;
      flex-basis: 300px;
  padding: 52px 17px 53px 27px;
  margin: 0 10px 10px 0;
}

@media (max-width: 576px) {
  .offers .boxes .box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .offers .boxes .box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .offers .boxes .box {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.offers .boxes .box .offer-name {
  font-size: 20px;
  line-height: 150%;
  color: #5A6980;
  margin-bottom: 8px;
  margin-top: 27px;
}

.offers .boxes .box .offer-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #68778e;
}

.video {
  background-image: url(/images/home/bg-video-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 106px 0 102px 0;
}

.video img {
  width: 100%;
}

.price-plan {
  max-width: 257px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .price-plan {
    margin-bottom: 30px;
  }
}

.price .price-card {
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
          box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
}

@media (min-width: 576px) and (max-width: 768px) {
  .price .price-card {
    margin-bottom: 20px;
  }
}

.price .price-card .price-card-section {
  padding: 46px 37px 13px 28px;
}

.price .price-card-img {
  width: 81px;
  height: 81px;
  margin-bottom: 35px;
}

.price .price-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #4b4f5f;
}

.price .price-card-choices {
  margin-bottom: 32px;
}

.price .price-card-choices .price-card-choice {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  color: #8996AB;
}

.price .price-number {
  background-color: #DBECF1;
  padding: 16px 21px 16px 29px;
}

.price .price-number p {
  color: #4D6383;
  margin-bottom: 0;
}

.price .price-number p .bold {
  font-weight: bold;
  font-size: 20px;
  line-height: 150%;
  color: #4D6383;
}

.projects .card {
  border: none;
  height: 350px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .projects .card {
    margin-bottom: 20px;
  }
}

.projects .card .card-text {
  padding: 15px 137px 25px 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 20px rgba(34, 52, 61, 0.15);
          box-shadow: 0px 3px 20px rgba(34, 52, 61, 0.15);
}

.our-team .card {
  border: none;
}

@media (min-width: 576px) and (max-width: 768px) {
  .our-team .card {
    margin-bottom: 20px;
  }
}

.our-team .card .body {
  padding: 15px 137px 0 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 3px 20px rgba(34, 52, 61, 0.15);
          box-shadow: 0px 3px 20px rgba(34, 52, 61, 0.15);
}

.our-team .card .body .title {
  margin-bottom: 0;
}

.our-team .card .body .subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #8996AB;
}

.our-blog .card {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
          box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
}

@media (min-width: 576px) and (max-width: 768px) {
  .our-blog .card {
    margin-bottom: 20px;
  }
}

.our-blog .card-blog {
  padding: 21px 52px 18px 21px;
}

.our-blog .card-blog-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.our-blog .card-blog-about p {
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: #8996AB;
}

.our-blog .card-blog-about p .fa-clock-o {
  margin-right: 12px;
}

.our-blog .card-blog-name {
  font-weight: 500;
  font-size: 18px;
  line-height: 141%;
  color: #4D6383;
}

.our-blog .card-blog-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  color: #34ccff;
}

.footer {
  background-color: #284B6B;
  padding: 74px 0;
  margin-top: 101px;
  color: #ffffff;
}

.footer .footer-socialIcons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-socialIcons i {
  margin-left: 5px;
  background: #34ccff;
  color: #ffffff;
  border-radius: 50px;
  width: 29px;
  height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) and (max-width: 768px) {
  .footer .footer-list {
    margin-top: 20px;
  }
}

@media (max-width: 576px) {
  .footer .footer-list {
    margin-top: 20px;
    text-align: center;
  }
}

.footer .footer-list .footer-item .footer-link {
  font-weight: normal;
  font-size: 14px;
  line-height: 205%;
  color: #E1E7F1;
}

.copyright {
  background-color: #25415A;
  padding: 9px 0;
}

.copyright p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0;
}

.aboutMain {
  background-image: url(/images/about/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 331px;
}

.aboutMain .container {
  padding-top: 106px;
  padding-bottom: 94px;
}

.aboutMain .container .main-article {
  width: 53%;
}

@media (min-width: 576px) and (max-width: 768px) {
  .aboutMain .container .main-article {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .aboutMain .container .main-article {
    width: 100%;
  }
}

.aboutMain .container .main-article h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #ffffff;
}

@media (max-width: 576px) {
  .aboutMain .container .main-article h2 {
    font-size: 32px;
  }
}

.aboutMain .container .main-article-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #8996AB;
}

@media (min-width: 576px) and (max-width: 768px) {
  .aboutAbout-us-content {
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .aboutAbout-us-content {
    margin-bottom: 20px;
  }
}

.aboutAbout-us-content .author .name {
  font-weight: 500;
  font-size: 19px;
  line-height: 150%;
  color: #5A6980;
  margin-top: 20px;
  margin-bottom: 0;
}

.aboutAbout-us-content .author .subname {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 28px;
  color: #8996AB;
}

.aboutAbout-us-img img {
  max-width: 427px;
  width: 100%;
}

.carries {
  background-color: #00a8bf;
  color: #ffffff;
  padding: 100px 0;
}

@media (min-width: 576px) and (max-width: 768px) {
  .carries {
    padding: 30px 0;
  }
}

@media (max-width: 576px) {
  .carries {
    padding: 30px 0;
  }
}

.carries .container .trucks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 576px) and (max-width: 768px) {
  .carries .container .trucks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 576px) {
  .carries .container .trucks {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.carries .container .trucks .truck img {
  height: 63px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .carries .container .trucks .truck {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .carries .container .trucks .truck {
    margin-bottom: 20px;
  }
}

.carries .container .trucks .truck-title {
  margin-top: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.9);
}

.carries .container .trucks .truck-subtitle {
  margin-top: 7px;
  font-weight: 300;
  font-size: 14px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.our-fleets img {
  width: 100%;
  max-width: 434px;
}

.our-fleets .p-title {
  margin-bottom: 30px;
}

.our-fleets .subtitle {
  margin-bottom: 20px;
}

.our-fleets .btn {
  margin-top: 30px;
}

.locations {
  background-color: #21333E;
  color: #ffffff;
}

.locations .location-s {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
}

@media (min-width: 576px) and (max-width: 768px) {
  .locations .location-s {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
}

@media (max-width: 576px) {
  .locations .location-s {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 30px 0;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .locations .location-s .location {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .locations .location-s .location {
    margin-bottom: 20px;
  }
}

.locations .location-s .location-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 0;
}

.locations .location-s .location-subtitle {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.8);
}

.servicesMain {
  background-image: url(/images/about/main.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 331px;
}

.servicesMain .container {
  padding-top: 106px;
  padding-bottom: 94px;
}

@media (min-width: 576px) and (max-width: 768px) {
  .servicesMain .container .main-article {
    width: 100%;
  }
}

@media (max-width: 576px) {
  .servicesMain .container .main-article {
    width: 100%;
  }
}

.servicesMain .container .main-article h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #ffffff;
  text-align: center;
}

@media (max-width: 576px) {
  .servicesMain .container .main-article h2 {
    font-size: 32px;
  }
}

.servicesMain .container .main-article-p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 24px;
  color: #8996AB;
}

.ourServices .subtitle {
  margin-bottom: 47px;
}

.ourServices .main-img {
  max-width: 420px;
  width: 100%;
}

.ourServices .lists .list {
  margin-bottom: 27px;
}

.ourServices .lists .list img {
  margin-right: 30px;
}

.ourServices .lists .list .service-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #4D6383;
  margin-bottom: 0;
}

.ourServices .lists .list .service-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #68778e;
}

.logistic-solutions .solution {
  text-align: center;
  max-width: 269px;
  width: 100%;
  margin: 0 auto;
}

.logistic-solutions .solution img {
  margin-bottom: 26px;
}

.logistic-solutions .solution .logistic-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #4D6383;
}

.logistic-solutions .solution .logistic-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 27px;
  color: #68778e;
}

.ourTeam {
  margin-bottom: 108px;
}

.ourTeam .card {
  -webkit-box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
          box-shadow: 0px 3px 20px rgba(90, 194, 243, 0.1);
}

.ourTeam .card .body {
  padding: 20px 0 0 32px;
}

.ourTeam .card .body .title {
  margin-bottom: 0;
}

.tautliner {
  background-color: #00a8bf;
  padding: 100px 0;
  text-align: center;
}

.tautliner .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.tautliner .container .tautliner-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  color: #ffffff;
}

.tautliner .container .tautliner-subtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  color: rgba(255, 255, 255, 0.9);
  max-width: 692px;
  margin: 0 auto;
}
/*# sourceMappingURL=index.css.map */